html {
  text-align: center;
  font-family: Helvetica;
}

.header {
  background-image: url("..\\images\\the-flatiron-building.png");
  background-size: cover;
}

.content h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.header nav a {
  font-size: 18px;
  color: white;
}

.content h3 {
  background-image: url("..\\images\\the-flatiron-building.png");
  background-size: cover;
  color: white;
  font-size: 23px;
  font-weight: bold;
}

.content .section h2 {
  font-size: 32px;
  font-weight: bold;
}

.content .section h3 {
  background-image: none;
  color: black;
}

.content .section p {
  font-size: 14px;
}

.bottom {
  background-color: dimgray;
  text-align: left;
}

.bottom p {
  color: white;
  font-size: 11px;
}

.bottom a {
  font-size: 18px;
  color: white;
}
